body {
    position:relative;
}
body a:hover {
    cursor:pointer;
}
.aboutUs-banner img{
    width:100%;
}
.zh-affix-title {
    margin-bottom:20px;
}
.zh-affix-title h4 {
    text-align: center;
    font-weight:bold;
    color:#006eaa;
}
.zh-affix-title .sign-box {
    display:inline-block;
    width:165px;
    height:4px;
    background:#006eaa;
    margin-top:20px;
}
.zh-affix-content li {
    border-bottom:1px #ddd solid;
}
.zh-affix-content .sign-box {
    float:left;
    width:3px;
    height:20px;
    background:#006eaa;
    margin-top:12px;
}
.zh-affix-content a {
    color:#444;
    text-align:center;
    font-size:16px;
}
.zh-affix-content a:hover{
    color:#006eaa;
}
.nav>li>a:hover {
    background:none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #006eaa;
    font-weight:bold;
    background: none;
}
.content-crumb .breadcrumb {
    width:100%;
    margin-top:20px;
    padding:2px;
    background:#006eaa;
    float:right;
    border-radius:0px;
}
.content-crumb .breadcrumb a,.content-crumb .breadcrumb li {
    color:#fff;
}
.content .text-justify {
    line-height:30px;
}
.aboutUs-content p {
    line-height:30px;
    padding-bottom:30px;
    text-indent: 2em;
}
.aboutUs-content .aboutUs-slogan {
    padding-top: 80px;
    padding-bottom: 30px;
    /*padding-left:36%;*/
    text-align:center
}
#introduce {
    height:26px;
    padding-top:3px;
    padding-left:20px;
    font-weight:bold;
    color:#fff;
    background:url(../images/moduleTitle-bg.png) no-repeat;
}
#business {
    height:26px;
    padding-top:3px;
    padding-left:20px;
    font-weight:bold;
    color:#fff;
    background:url(../images/moduleTitle-bg.png) no-repeat;
}
#honor {
    height:26px;
    padding-top:3px;
    padding-left:20px;
    font-weight:bold;
    color:#fff;
    background:url(../images/moduleTitle-bg.png) no-repeat;
}
